.appHeader {
  background-color: #ffffff;
  max-height: 20%;
  box-shadow: 15px;
  padding: 20px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  color: gray;
  font-weight: 500;
}

img {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 500;
}