.card {
    display: block;
  position: relative;
  background: #FFFFFF;
  margin: 0 auto 100px;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 25%;
  padding: 25px;
}

.noTaskcard{
    margin-top: 15%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.newTaskButton {
  outline: 0;
  background-color: #0071bc ;
  width: 100%;
  border: 0;
  padding: 15px 20px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 15px;
}

.noTaskText {
    font-size: 30px;
    color: #0071bc;
    width: 100%;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2%;
}

.latestTasksList{
    text-align: left;
    margin: 20px 50px;
}

.cardHeading {
    font-weight: 700;
    color: lightslategray;
}

.tasksCompleted {
    font-size: 100px;
    color: #0071bc;
    font-weight: 400;
}

.totalTasks {
    font-weight: 700;
    color:silver;
    font-size: 30px;
}

.ratio{
    margin-top: -10%;
    text-align: center;
}

.taskInList{
    font-weight: 700;
    color:silver;
    font-size: 20px;
    word-wrap: break-word;
}

.pieChart {
    margin-left: 25%
}

@media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .card {
      width: 80%;
    }

    .pieChart {
        margin-left: 15%;
    }
  }