@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {  
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
text-align: center;
margin-top: -26px;
margin-bottom: 26px;
}
.form {
 display: block;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.login-header{
    text-align: left;
}

.login-header h3{
    font-weight: 400;
    color: gray;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

body {
  background-color: #cbd3d2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}