body {
  margin: 0;
  font-family: "Trueno""Roboto",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: "Trueno",  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
